.todo-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: rgb(204, 204, 204, 0.4);
    height: 100%;
}
.todo-content {
    position: absolute;
    /* top: calc(50% - 100px); */
    top: 100px;
    left: 50px;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.todo-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: url('../images/close_icon.svg') no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: 0;
}
.todo-content > form > ul {
    margin: 50px auto auto;
    padding: 0 2rem;
    list-style: none;
}
.todo-content > form > ul > li {
    padding-bottom: 2rem;
}
.todo-title > input{
    width: 100%;
}
.todo-date {
    display: flex;
}
.todo-date > div {
    display: flex;
    margin-right: 100px;
    width: calc(50% - 50px);
}
.todo-date > div > input,
.todo-date > div > div > input,
.todo-date > div > div > div > input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.todo-date > div > select{
    margin-left: 1rem;
    max-width: 100px;
}
.todo-date > div:last-child {
    margin-right: 0;
}

.todo-bottom {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}
.todo-bottom > button {
    margin-right: 1rem;
}
.todo-bottom > button:last-child {
    margin-right: auto;
}
.todo-list {
    margin: 50px auto;
    padding: 0 2rem;
}
.todo-list-item {
    display: flex;
    list-style: none;
    margin: auto auto 15px auto;
    padding: 0;
    align-items: center;
}
.todo-list-item > li {
    margin-right: 10px;
}
.todo-list-item > .time {
    width: 10%;
    max-width: 100px;
}
.todo-list-item > .title {
    font-size: 1.125rem;
    font-weight: bold;
    color: #333;
    width: 45%;
    max-width: 515px;
    cursor: pointer;
}
.todo-list-item > .body {
    width: 45%;
    max-width: 515px;
    color: #555;
}
.todo-list-item > .delete-none,
.todo-list-item > .delete {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.todo-list-item > .delete::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('../images/delete-icon.svg');
    background-size: 100% 100%;
}

.label-wrap {
    display: flex;
    margin-bottom: 10px;
}
.label-wrap > div {
    margin-right: 10px;
    width: 10%;
    height: 30px;
    border: 1px solid #ced4da;
    cursor: pointer;
}
.label-wrap > .red {
    background: rgb(249, 79, 79);
}
.label-wrap > .blue {
    background: rgb(79, 79, 247);
}
.label-wrap > .green {
    background: rgb(66, 243, 66);
}
.label-wrap > .yellow {
    background: rgb(241, 241, 76);
}
.label-wrap > .gray {
    background: rgb(242, 242, 242);
}
.label-wrap > .label-on {
    border: 2px solid #000000;
}